html,body {
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;
    background-color: #0A1C28;
    color:#EEE9D1;
}

/*landing page*/

.wrapper{
    width:100%;
    height:100%;
    background: url(../images/bg7.jpg) no-repeat center center fixed ;
    background-size: cover;
    display: table;
}

.inner{
    display: table-cell;
    vertical-align: middle;
    width:100;
    max-width: none;
}

.content{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 6%;
    
}

.headingg h1{
    color:#ff3838;
    font-size:80px;
    font-weight: 300;
    text-transform: uppercase;
}


 .textt p{
    color:#ff3838;
    font-size: 26px;
    font-weight: 200px;
 
}

/*landing page end*/


/*homw page css*/

/*nav bar css*/

.bg-darker {
    background-color:transparent;
}

.navbar-toggler {
    color: rgba(249, 28, 28, 0.98);
    border-color: rgb(150, 10, 10);
}


.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: #E7312F;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.navbar-darker ul>li>a{
    color:#fff;
}

.navbar-darker ul>li>a:hover{
    color:#262626;
    background:#e7312f;
    border-radius: 5px;

}

/*navbar end*/

/*banner */



.banner{
    background:url(../images/bg3.jpg) no-repeat center center fixed;
    background-size: cover;
    width:100%;
    text-align: center;
    padding-bottom: 30%;
 
}

.heading{
   
    margin-top: 20%;
    
    
}
.text-area{
    margin: 0 auto;
    width:100%;
}

.text-area h1{
    font-size: 50px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 300;
    
}







/*banner end*/

/*about us*/

.aboutus{
    background: #41848F;
    color:#EEE9D1;
    
    padding-bottom: 7%;
}


.aboutus h3{
    padding-top: 5%;
    text-transform: uppercase;
}


.aboutus p{
    padding-top: 2%;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 1px;
}




/*about us end*/




/*section-a*/

.section-a{
    padding-bottom:5%;
    background:url(../images/bg1.jpg) no-repeat center center fixed;
    background-size:cover;

}



/*grid*/
.warp{
    position: relative;
    padding: 0;
    border 1px solid #000;
    color:#000;
    
}

.wrap h3{
    color:#000;
}

.cont{
    position: absolute;
    top:0%;
    left:4%;
/*    background-color: #87cefa4a;*/
    height:100%;
    width:92%;
    padding-top: 15%;
    padding: 0 auto;
    
    
}






/*grid end*/




/*section-a end*/



/*section-b*/

.section-b{
   background-color: #41848F;
    padding:3%;
}

.text {
    
    margin: 0;
    padding: 20% 0;
    color:aliceblue;
    
}

.text h3{
    
    text-align: center;
    color:aliceblue;
    
}



.text p {
    text-align: center;
    color:aliceblue;
    
    
}




/*section-b end*/
















/*loginpage*/

.pos{
    padding:0 auto;
           
}












/*footer*/
footer{
    background-color: #0A1C28;
}

footer ul{
    text-decoration: none;
}

/*footer end*/




/*latest page*/

.latest{
   background: #134E5E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-bottom: 2%;
}
















/*latest page end */



/*course*/

.course{
   background: #43C6AC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #191654, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #191654, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding-top: 2%;
}






/*course ends*/


